body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow-y: auto;  /* enables vertical scrolling */
}

h1 {
    text-align: center;
    width: 100%;
    padding-top: 20px; /* Add padding to top of header */
}

.package {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 10px;
    max-width: 800px; /* Or any width that suits your design */
    width: 80%;
}

.note-image {
    max-width: 200px; /* or any size that suits your design */
    height: auto;
}

button {
    margin: 10px;  /* adjust this value to get the desired amount of space */
}
